@import '../../vars.css';


.big-board-container {
    width: 38%;
    max-width: 38%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid var(--color-accent);
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
}


.overlay-content {
    background: #1e1e1e; /* Dark theme */
    color: #f6d56e; /* Gold accent */
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(255, 215, 0, 0.3);
    animation: zoomIn 0.3s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-content h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.winner-image {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.7);
    position: relative;
    z-index: 2;
}

.overlay button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.play-again-btn {
    background: linear-gradient(45deg, #f6d56e, #ffae42);
    color: #1e1e1e;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.play-again-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes zoomIn {
    from { transform: scale(0.8); }
    to { transform: scale(1); }
}

.screenshot-btn {
    background: linear-gradient(45deg, #f6d56e, #ffae42);
    color: #1e1e1e;
    border: none;
    margin: 10px 0px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.screenshot-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
}

